<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="purple">
            <i class="material-icons">person</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Create User</h4>
            <form class="form-horizontal" [formGroup]="userAddForm" (ngSubmit)="onSubmit()" >
              <div class="row">
                <label class="col-md-3 label-on-left">Full Name</label>
                <div class="col-md-9">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" formControlName="name">
                    <small *ngIf="!userAddForm.get('name').valid && userAddForm.get('name').touched" class="text-danger">
                      Please enter a valid data
                    </small>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 label-on-left">Email</label>
                <div class="col-md-9">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" formControlName="email">
                      <span *ngIf="!userAddForm.get('email').valid && userAddForm.get('email').touched">
                          <small *ngIf="userAddForm.get('email').errors['nameIsForbidden']" class="text-danger">
                              User is already exist
                          </small>
                          <small *ngIf="userAddForm.get('email').errors['required']" class="text-danger">
                              This field is required
                          </small>
                      </span>
                  </div>
                </div>
              </div>
              <!--<div class="row">-->
                <!--<label class="col-md-3 label-on-left">Email</label>-->
                <!--<div class="col-md-9">-->
                  <!--<div class="form-group label-floating is-empty">-->
                    <!--<label class="control-label"></label>-->
                    <!--<input type="email" class="form-control" formControlName="email">-->
                      <!--<small *ngIf="!userAddForm.get('email').valid && userAddForm.get('email').touched" class="text-danger">-->
                          <!--Please enter a valid data-->
                      <!--</small>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="row">-->
                <!--<label class="col-md-3 label-on-left">Mobile No</label>-->
                <!--<div class="col-md-9">-->
                  <!--<div class="form-group label-floating is-empty">-->
                    <!--<label class="control-label"></label>-->
                    <!--<input type="number" class="form-control" formControlName="mobile">-->
                      <!--<small *ngIf="!userAddForm.get('mobile').valid && userAddForm.get('mobile').touched" class="text-danger">-->
                          <!--Please enter a valid data-->
                      <!--</small>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="row">-->
                <!--<label class="col-md-3 label-on-left">Gender</label>-->
                <!--<div class="col-md-9 checkbox-radios">-->
                  <!--<div class="radio">-->
                    <!--<label>-->
                      <!--<input type="radio" [value]="0" name="gender" formControlName="gender"> Male-->
                    <!--</label>-->
                  <!--</div>-->
                  <!--<div class="radio">-->
                    <!--<label>-->
                      <!--<input type="radio" [value]="1" name="gender" formControlName="gender"> Female-->
                    <!--</label>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <div class="row">
                <label class="col-md-3 label-on-left">Password</label>
                <div class="col-md-9">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="password" class="form-control" formControlName="password">
                      <small *ngIf="!userAddForm.get('password').valid && userAddForm.get('password').touched" class="text-danger">
                          Please enter a valid data
                      </small>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3"></label>
                <div class="col-md-9">
                  <div class="checkbox form-horizontal-checkbox">
                    <label>
                      <input type="checkbox" name="optionsCheckboxes" formControlName="is_admin"> Is Admin
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3"></label>
                <div class="col-md-9">
                  <div class="form-group form-button">
                    <button type="submit" [disabled]="!userAddForm.valid"  class="btn btn-fill btn-primary">Create</button>
                    <button type="submit" class="btn btn-fill" [routerLink]="'/users'">Cancel</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
