<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="purple">
            <i class="material-icons">person</i>
          </div>
          <div class="card-content">
            <!--<h4 class="card-title">Users</h4>-->
            <div class="toolbar" style="text-align: end">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
              <button class="btn btn-primary btn-round btn-fab btn-fab-mini" [routerLink]="['create']">
                <i class="material-icons">add</i>
              </button>
            </div>
            <div class="material-datatables table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Email Id</th>
                  <th>Admin</th>
                  <th class="disabled-sorting text-right">Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Email Id</th>
                  <th>Admin</th>
                  <th class="text-right">Actions</th>
                </tr>
                </tfoot>
                <tbody>
                <tr *ngFor="let user of users">
                  <td>{{user.name}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.is_admin}}</td>
                  <td class="text-right">
                    <a class="btn btn-simple btn-warning btn-icon edit" [routerLink]="[user.id,'edit']"><i class="material-icons">dvr</i></a>
                    <a class="btn btn-simple btn-danger btn-icon remove" [swal]="swalObj" (confirm)="deleteUser(user.id)"><i class="material-icons">close</i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>
