<div class="wrapper wrapper-full-page">
    <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    TO <i class="fa fa-check-circle" aria-hidden="true" style="color: #62e2ff"></i> DO
                </a>
                <!--<a class="navbar-brand" href="/#/dashboard">Task Management</a>-->
            </div>
            <div class="collapse navbar-collapse" id="menu-example">
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a [routerLink]="'/auth/signup'">
                            <i class="material-icons">person_add</i> Register
                        </a>
                    </li>
                    <li class=" active ">
                        <a [routerLink]="'/auth/signin'">
                            <i class="material-icons">fingerprint</i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="full-page login-page" filter-color="black" data-image="../../../assets/img/login.jpg">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form name="form" (ngSubmit)="f.form.valid && login(f)" #f="ngForm" novalidate>
                            <div class="card card-login card-hidden">
                                <div class="card-header text-center" data-background-color="rose">
                                    <h4 class="card-title">Login</h4>
                                </div>
                                <!--<div class="social-line" style="padding: 0 0">-->
                                    <!--<img src="../../../assets/img/logo1.gif" style="width: 100px">-->
                                <!--</div>-->
                                <p class="category text-center">
                                    Be Classical
                                </p>
                                <div class="card-content">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">face</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email</label>
                                            <input type="text" required class="form-control" name="email" ngModel>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Password</label>
                                            <input type="password" required class="form-control" name="password" ngModel>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button type="submit" [disabled]="!f.valid" class="btn btn-rose btn-simple btn-wd btn-lg">Let's go
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a target="_blank" href="http://www.vrischik.com">
                                Home
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.vrischik.com/#section-portfolio">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.vrischik.com/#section-contact">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy;
                    <a target="_blank" href="http://www.vrischik.com">Vrischik Technologies</a>, made with <i
                        class="fa fa-heart"></i> for a better web
                </p>
            </div>
        </footer>
    </div>
</div>
