<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="purple">
            <i class="material-icons">person</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Edit Project</h4>
            <form class="form-horizontal" [formGroup]="projectEditForm" (ngSubmit)="onSubmit()" >
              <div class="row">
                <label class="col-md-3 label-on-left">Name</label>
                <div class="col-md-9">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input type="text" class="form-control" formControlName="name">
                    <span *ngIf="!projectEditForm.get('name').valid && projectEditForm.get('name').touched">
                          <small *ngIf="projectEditForm.get('name').errors['nameIsForbidden']" class="text-danger">
                              Project is already exist
                          </small>
                          <small *ngIf="projectEditForm.get('name').errors['required']" class="text-danger">
                              This field is required
                          </small>
                      </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <label class="col-md-3 label-on-left">Color</label>
                <div class="col-md-9">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label"></label>
                    <input style="width: 50px" type="color" class="form-control" formControlName="color">
                    <small *ngIf="!projectEditForm.get('color').valid && projectEditForm.get('color').touched" class="text-danger">
                      Please enter a valid data
                    </small>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3"></label>
                <div class="col-md-9">
                  <div class="form-group form-button">
                    <button type="submit" [disabled]="!projectEditForm.valid"  class="btn btn-fill btn-primary">Update</button>
                    <button type="submit" class="btn btn-fill" [routerLink]="'/projects'">Cancel</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
