<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a target="_blank" href="http://www.vrischik.com">
                        Home
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://www.vrischik.com/#section-portfolio">
                        Portfolio
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://www.vrischik.com/#section-contact">
                        Contact Us
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy;
            <a target="_blank" href="http://www.vrischik.com">Vrischik Technologies</a>, made with <i
                class="fa fa-heart"></i> for a better web
        </p>
    </div>
</footer>
